<div class="collection-item">
  <a href="{{ collection.url }}">
    <img src="{{ collection.image | img_url: '300x300' }}" alt="{{ collection.title }}">
    <h3>{{ collection.title }}</h3>
  </a>
</div>